body {
  font-family: 'Tillana', cursive;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 10px;
  background: #f8faf8;
  color: #fff;
  font-weight: 300;
}

.content {
  margin: 0 20vw;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 20% 4vw 5% 4vw;
  color: black;
  line-height: 84px;
}

form {
  padding: 10px;
}

#wordbox {
    /*opacity: 0;*/
    margin: 15px auto 0;
    padding: 5px;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    color: #black;
    transition: 1s linear;
}

#button {
  background: #eaf5d5;
    border: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-turtleduck {
  display: flex;
  width: 100%;
}

img {
  width: 60%;
}

p.speech-bubble {
  width: 100%;
  position: relative;
  color: black;
  font-family: 'Roboto', sans-serif;
  background: #c0ea71;
  border-radius: .4em;
  font-size: 22px;
  border: 15px solid #c0ea71;
}

p.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 28px solid transparent;
  border-right-color: #c0ea71;
  border-left: 0;
  border-bottom: 0;
  margin-top: -14px;
  margin-left: -28px;
}

@media screen and (max-width: 955px) {
  h1.desktop {
    line-height: 1.2;
}

@media screen and (max-width: 690px) {
  .container {
    display: grid;
  }
}
